.footer__social-text {
  display: block;
  max-width: 245px;
  margin: 0;
  padding: 45px 0 0;
  box-sizing: border-box;

  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  color: #828282;
}
