.intro {
  grid-area: intro;
  width: 100%;
  padding: 40px 0 100px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, max-content);
  grid-template-areas:
    "title description lang-list"
    "image image image";
  row-gap: 30px;
  align-items: center;
}
